@model MVCHarjoitustyö.Models.CreateUserRoleViewModel
@{
    ViewBag.Title = "EditOrCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lisää uusi</h2>

@using (Html.BeginForm("Create", "UserRole", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-ms-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" });
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

