
@using MVCHarjoitustyö.Models
@using MVCHarjoitustyö.ObjectModels
@model UserRoleViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td{
        padding: 6px;
    }
    .hoverClass:hover{
        background-color: #d8e7ff;
    }
</style>

<h2>Käyttäjäroolit</h2>

@using (Html.BeginForm("RoleInfo", "UserRole", FormMethod.Post))
{
    <table style="width: 100%; margin-top: 40px;">
        <col width="50" />
        <col width="300" />
        <col width="50" />
        <col width="50" />
        <tr style="line-height: 40px;">
            <td><b>ID</b></td>
            <td><b>Nimi</b></td>
        </tr>

        @for (int i = 0; i < Model.UserRoles.Count; i++)
        {
            <tr class="hoverClass">
                <td>@Model.UserRoles.ElementAt(i).Id</td>
                <td>@Model.UserRoles.ElementAt(i).Name</td>
                <td>@Html.ActionLink("Tiedot", "RoleInfo", Model.UserRoles.ElementAt(i))</td>
            </tr>
        }
    </table>
}
