@using MVCHarjoitustyö.Models
@using MVCHarjoitustyö.ObjectModels
@model RoleInfoViewModel
@{
    ViewBag.Title = "RoleInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td {
        padding: 6px;
    }

    .hoverClass:hover {
        background-color: #d8e7ff;
    }
</style>

<h2>@Model.role.Name käyttäjät</h2>

@using (Html.BeginForm())
{
    <table style="width: 100%; margin-top: 40px;">
        <col width="50" />
        <col width="150" />
        <col width="150" />
        <col width="150" />
        <col width="150" />
        <col width="100" />
        <tr style="line-height: 40px">
            <td><b>ID</b></td>
            <td><b>Etunimi</b></td>
            <td><b>Sukunimi</b></td>
            <td><b>Käyttäjänimi</b></td>
            <td><b>Roolit</b></td>
        </tr>

        @for (int i = 0; i < Model.roleUsers.Count; i++)
        {
            <tr class="hoverClass">
                <td>@Model.roleUsers.ElementAt(i).Id</td>
                <td>@{WriteLiteral(Model.roleUsers.ElementAt(i).FirstName != null ? Model.roleUsers.ElementAt(i).FirstName : "-");}</td>
                <td>@{WriteLiteral(Model.roleUsers.ElementAt(i).Lastname != null ? Model.roleUsers.ElementAt(i).Lastname : "-");}</td>
                <td>@Model.roleUsers.ElementAt(i).UserName</td>
                <td>@{
                    var roles = Model.roleUsers.ElementAt(i).GetRoles();
                    if (roles != null)
                    {
                        for (int j = 0; j < roles.Length; j++)
                        {
                            if (j < roles.Length - 1)
                            {
                                WriteLiteral(roles[j].Name + "<br>");
                            }
                            else
                            {
                                WriteLiteral(roles[j].Name);
                            }
                        }
                    }
                    else
                    {
                        WriteLiteral("-");
                    }
                }
                </td>
            </tr>
        }
    </table>
    <button style="margin-top: 30px;" onclick="location.href='@Url.Action("AddRoleToUser", "UserRole")';return false;">Lisää käyttäjiä...</button>
}


