
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jarno Rajala harjoitustyö</h2>

<section style="margin-top: 80px;">
    <b>Harjoitustyö</b><br /><br />
    Harjoitustyö on tehty MVC-tekniikalla hyväksi käyttäen Razer-engineä.<br />
    Harjoitustyössä voit poistaa, lisätä ja muokata kontakteja käyttöliittymällä.<br />
    Kaikki tieto tallennetaan SQLite-tietokantaan joka kulkee projektin mukana,<br />
    joten ohjelma toimii kenellä vain ja koska vain.<br />
    <br />
    Harjoitustyöhön lisäsin myös REST-apin CRUD-tapahtumia varten. Tietoa REST-apista<br />
    löydät yläpalkin REST-help -napista.
</section>

